[submodule "modules/moonraker-timelapse"]
	path = modules/moonraker-timelapse
	url = git@github.com:mainsail-crew/moonraker-timelapse.git
[submodule "modules/klipper_config_km_addons"]
	path = modules/klipper_config_km_addons
	url = https://github.com/kmarty/klipper_config_km_addons
